.wrap-button {
    display: flex;
    float: right;
}

.button-signin button{
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #f9b514;
    border-color: #f9b514;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
}

.button-registration button{
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #00b46e;
    border-color: #00b46e;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    color: #fff
}