@media (max-width: 1024px){

	.menu_mobile a{
		color: #ffff;
		text-decoration: none;
	}
	
	.menu_mobile ul{
		margin: 0;
		padding: 0;
	}
	nav.menu_mobile ul.menu>li{
		border-bottom: 1px solid #fff;
		padding: 10px 15px;
		position: relative;
		list-style: none
	}
	nav.menu_mobile ul>li i{
		position: absolute;
		left: 90%;
		color: #fff;
		font-size: 20px;
	}
	
	nav.menu_mobile ul li ul.sub-menu{
		display: none;
		top: 100%;

	}
	nav.menu_mobile ul li ul.sub-menu li{
		list-style: none;
		padding: 10px 15px;
	}
}