#page_pill .search_box{
	background: #f4f4f4;
}
#page_pill .search_box .form{
	width: 40%;
	margin-bottom: 30px
}
#page_pill .search_box .form form{
	position: relative;
}
#page_pill .search_box input{
	height: 45px;
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	font-size: 17px;
}
#page_pill .search_box button{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 15%;
	background: #2e6637;
	border: none;
	outline: none;
	color: #fff
}
#page_pill .search_alpha{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
#page_pill .search_alpha li{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	font-size: 16px;
	padding: 6px 11px;
	text-decoration: none;
	border-radius: 4px;
	color: #4a4a4a;
	background: #fff;
	box-shadow: 0 2px 9px -2px #888;
	margin-right: 5px;
	cursor: pointer;
}
#page_pill .search_alpha li:hover,#page_pill .search_alpha li.active{
	background: #2e6637;
	color: #fff
}
#page_pill .list_alpha {
	margin: 30px 0;
	background: #f4f4f4;
	padding: 30px 0;
}
#page_pill .list_alpha .resul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -30px;
}
#page_pill .list_alpha .resul h3{
	flex: 33.33%;
	max-width: 33.33%;
	padding: 0 30px;
	font-size: 1.1em;
	font-weight: normal;
}
#page_pill .list_alpha .resul h3 a{
	text-decoration: none;
	color: #000;
}
#page_pill .list_alpha .resul h3 a:hover{
	color: #2e6637
}