/* -------------------------------------------- */
.GH-container{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* flex: 0 0 100%; */
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    
}
.GH-container .GH-tittle h1{
    font-weight: 550;
    line-height: 1.2;
    font-size: 1.75rem;
}

.GH-content{
    display: flex;
}

/* ------------------------------------ */
.GH-products-and-kart{
    background-color: white;
    width: 100%;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
}

/* -------------------- Products ---------- */

.GH-products{
    width: 100%;
    margin-bottom: 24px;
}

.GH-left{
    width: 73%;
}


.GH-instruction, .GH-note, .GH-note-2{
    position: relative;
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 15px;
}

.GH-instruction{
    padding-left: 20px;
}

.GH-instruction p{
    text-indent: 25px;
    color: #919aa3;
    margin-bottom: 0px;
}

.GH-instruction i{
    position: absolute;
    top: 13px;
    left: 17px;
    color: #ffc107;
}



.GH-list-item, .GH-instruction, .GH-note, .GH-note-2{
    box-shadow: 0px 3px 20px rgb(0 0 0 / 8%);
    background-color: white;
    width: 97%;;
    border-bottom: 1px solid rgba(195,204,220,0.GH-4);
    /* border-left: 2px solid transparent; */
}

.GH-list-item{
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
}

.GH-list-item-row{
    position: relative;
    min-height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0.65em 1em;
    border-bottom: 1px solid rgba(195,204,220,0.4);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    
}

.GH-list-item-row:active{
    border: 1px solid #f9b514;
}

.GH-list-item-row:hover{
    background-color: rgb(238, 238, 238);
}

.GH-list-item-row div{
    padding-left: 5px;
    padding-right: 5px;
    
}

.GH-star-circle{
    top: 35px;
    left: -18px;

    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    /* left: -1em; */
    background-color: white;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 54%;
    box-shadow: 0px 3px 20px rgb(0 0 0 / 8%);
}

.GH-star-circle i{
    color: #919aa3;
}

/* .GH-star-circle i:hover{
    color: #ffc107;
} */

.yellow-star {
    color: #ffc107 !important;
}



.GH-sample-img img{
    /* max-width: 8.GH-3333333333%; */
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-style: none;
}

    /* information */
.GH-information{
    width: 50%;
}

.GH-name{
    padding-bottom: 5px;
}

.GH-name a{  
    color: #343a40;
    font-weight: 550;
    text-decoration: none;
}



.GH-capacity{
    color: #919aa3;
    width: 150px;
    text-align: left;
}

.GH-capacity small{
    font-size: 80%;
}

    /* information 2 */
.GH-information2{
    width: 35%;
    display: flex;
}

.GH-price{
    display: flex;
    flex-direction: row;
    /* color: #00b46e; */
    font-weight: 550;
    padding: 3px 5px 3px 5px;
    /* min-width: 90px;  */
    width: 65%;
    text-align: left;
}

.GH-new-price span {
    color: #00b46e;
}

.GH-old-price span{
    font-weight: 300;
}

.GH-old-price span del{
    color: #919aa3;
}

.GH-list-item-row .GH-information2 .GH-quantity{
    height: inherit;
    width: 35%;
    display: flex;
}
.GH-list-item-row .GH-information2 .GH-quantity button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 0px;
    font-family: inherit;
    outline: none;

    padding: 0px 5px;
}

.GH-quantity button i{
    font-size: 22px;
    background-color: transparent;
}

.GH-quantity button i:hover{
    background-color: none;
}

.GH-quantity .GH-number{
    /* margin-top: 10px; */
    border: 1px solid;
    border-color: #c3ccdc;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    text-align: center;
    color: #f9b514;
}
.GH-quantity .GH-number:focus{
    border: 4px solid #6bcaa7;
    outline: none;
    /* outline: 2px solid #70e7bc; */
}

.GH-minus i{
    color: #c3ccdc;
}

.GH-quantity .GH-plus i {
    color: #f9b514;
}

.GH-minus i:active, .GH-plus i:active {
    color: rgb(219, 219, 111);
}

.GH-quantity .GH-trash i{
    font-size: 16px;
    color: #c3ccdc;
}

.GH-quantity .GH-trash i:hover{
    color: black;
}

.GH-note, .GH-note-2{
    display: flex;
}

.GH-note-2{
    flex-direction: column;
    padding: 10px;
}

.GH-note {
    line-height: 2.6;
}

.GH-note i{
    color: #919aa3;
    line-height: 42px;
    padding: 0px 5px;
}

.GH-note a{
    text-decoration: none;
    color: #00b46e;
    line-height: 44px;

    padding-left: 10px;
}

.GH-note a:hover{
    color: #00683f;
}

.GH-note h4, .GH-note-2 h4:nth-child(2){
    color: #919aa3;
    font-weight: 500;
}

.GH-note h4{
    margin: 13px 5px;
}

.GH-note-2 h4:nth-child(2){
    line-height: 1.5;
}

.GH-note-2 h4{
    margin: 4px 5px 10px 5px;  
}

.GH-note-2 textarea{
    margin: 4px;
    padding: 8px 12px;
    height: auto;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    overflow: auto;
    resize: vertical;
}

.GH-note-2 textarea:focus{
    outline: none;
    border: 4px solid #6bcaa7;
    border-radius: 10px;
    padding: 5px 9px;
}


.GH-note-2 .GH-btn-update-note{
    text-align: right;
    margin: 20px 5px 15px 5px;
    width: 100%;
    height: 60%;
}

.GH-note-2 .GH-btn-update-note a{
    width: 90%;
    height: 60%;
    color: #212529;
    background-color: #f9b514;
    border-color: #f9b514;

    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    padding: 10px;

    font-weight: 550;
}

.GH-btn-update-note > a:hover{
    background-color: #bba649;
}
/* ------------------ Kart --------------------- */
.GH-right{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.GH-kart{
    /* padding: 0px 10px; */
    
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;;
    border: 1px solid rgb(195 204 220 / 40%);
    background-color: white;
    box-shadow: 0px 3px 20px rgb(0 0 0 / 8%);

    margin-bottom: 16px;
}
.GH-kart > div{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;

}

.GH-kart .GH-btn-check{
    flex-direction: column;
}

.GH-text-danger {
    color: #dc3545;
    /* margin-bottom: 0.5rem; */
    text-align: left;
    padding: 10px 20px;
}

.GH-kart  div  div  b{
    font-size: 21px;
} 

.GH-kart .GH-info{
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(195 204 220 / 40%);
}

.GH-kart .GH-info small{
    padding: 10px;
}

.GH-info b{
    color: #f9b514;
}

.GH-right .GH-kart .GH-info-2 {
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.GH-kart .GH-info-2 small{
    padding: 10px;
}

.GH-kart .GH-info-2 div{
    padding-right: 15px;
}

.GH-info-2 b{
    color: #00b46e;
}

.GH-kart .GH-btn-check{
    height: 45%;
    border-top: 1px solid rgb(195 204 220 / 40%);;
    /* padding:  20px; */
}

.GH-kart .GH-btn-check a{
    width: 92%;
    height: 38%;
    color: #212529;
    background-color: #f9b514;
    border-color: #f9b514;

    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 550;
}

.GH-btn-check > a:hover{
    background-color: #bba649;
}

.GH-right a{
    color: #00b46e;
    text-decoration: none;
    background-color: transparent;
    padding-bottom: 20px;
}

.GH-right a:hover{
    color: #00683f;
}


/* ---------------------------- POPUP -------------------------- */

/* size: 515 x 345 */
.GH-popup{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;

    background: rgb(0 0 0 / 40%);
    transition: background-color .1s;
}

.GH-popup > div{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    width: 515px;
    height: 355px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;

    margin: auto;
    padding: 1.25em;

    font-size: 1rem;
}


.GH-popup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.8em;
}

.GH-popup-header .GH-popup-warnning-icon{
    display: flex;
    color: #f8bb86;
    border: .25em solid #facea8;

    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.875em;
    
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
}

.GH-warnning-content{
    align-items: center;
    font-size: 3.75em;
}

.GH-popup-header h2{
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
}

.GH-popup-header .btn-close{
    cursor: pointer;
    position: absolute;
    outline: none;
    /* z-index: 2; */
    top: 0px;
    right: 0;
    align-items: center;
    justify-content: flex-start;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    overflow: hidden;
    transition: color .1s ease-out;
    border: none;
    border-radius: 0;
    background: 0 0;
    color: #ccc;
    font-family: serif;
    font-size: 2.5em;
    line-height: 1.2;
}

.btn-close:hover{
    
    color: #f27474;
}

.GH-popup-content{
    color: #545454;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    
    padding: 0 1.6em;
}

.GH-popup-action{
    display: flex;
    /* z-index: 1; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.25em auto 0;
}

.GH-popup-action button{
    cursor: pointer;
    font-weight: 500;

    text-align: center;
    vertical-align: middle;
    border: 1px solid;
    outline: none;
    margin: 0.5rem;
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 50px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-no{
    color: #00b46e;
    border-color: #00b46e;
    background-color: transparent;
}


.btn-yes{
    color: #fff;
    background-color: #00b46e;
    border-color: #00b46e;
}

.btn-no:hover{
    color: white;
    background-color: #00b46e;
    border-color: #00b46e;
}

.btn-yes:hover{
    background-color: #008e57;
    border-color: #00814f;
}

/* -------------------- RESPONSIVE ------------------ */

@media screen and (max-width: 1400px){
    .GH-container{
        width: 100%;
    }

    .GH-kart .GH-btn-check a {
        margin-bottom: 10px;
        height: auto;
    }

    .GH-kart > div{
        height: auto;
    }

}

@media screen and (max-width: 1024px){

    .GH-container{
        width: 100%;
    }

    .GH-left {
        width: 75%;
    }

    .GH-information {
        width: 35%;
    }

    .GH-information2 {
        width: 40%;
    }

    .GH-note-2 .GH-btn-update-note {
        padding-left: 530px;
    }

    
    .GH-note {
        line-height: 2.6;
        padding: 5px 10px 20px 15px;
        display: inline-block;
    }

    .GH-note a{
        text-decoration: none;
        color: #00b46e;
        line-height: 5px;
    
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .GH-kart .GH-btn-check a{
        height: 38%;
        margin-left: 12px;
        margin-right: 10px;
    }

    .GH-kart > div{
        height: auto;
    }
}

@media screen and (max-width: 812px){
    .GH-note-2 .GH-btn-update-note {
        padding-left: 375px;
    }

    .GH-kart {
        height: auto;
    }

    .GH-kart .GH-info {
        width: 45%;
    }

    .GH-kart .GH-btn-check {
        height: auto;
    }

    .GH-kart .GH-btn-check a {
        height: 30%;
    }

    .GH-quantity .GH-number {
        margin-top: 10px;
    }

    .GH-price{
        display: unset;
    }
}

@media screen and (max-width:768px){

    .GH-container{
        width: 100%;
    }

    .GH-left{
        width: 77%;
    }

    .GH-right{
        width: 24%;
    }

    .GH-information {
        width: 37%;
    }

    .GH-information2 {
        width: 28%;
        display: flex;
    }

    .GH-list-item-row .GH-star-circle{
        top: 35px;
    }

    .GH-note {
        line-height: 2.6;
        padding: 5px 10px 20px 15px;
        display: inline-block;
    }
    
    .GH-note i{
        color: #919aa3;
        line-height: 42px;
        padding: 0px 0px;
    }
    
    .GH-note a{
        text-decoration: none;
        color: #00b46e;
        line-height: 5px;
    
        padding-left: 5px;
        margin-bottom: 10px;
    }


    .GH-note-2 .GH-btn-update-note {
        padding-left: 350px;
    }

    .GH-kart {
        height: auto;
        padding: 0px;
        margin-bottom: 0px;
    }

    .GH-kart > div {
        height: 60%;
    }

    .GH-kart div:first-child{
        flex-direction: column;
    }

    .GH-kart div .GH-info b, .GH-kart div .GH-info-2 div {
        padding-bottom: 2px;
    }

    .GH-kart .GH-info, .GH-kart .GH-info-2{
        padding: 5px;
        border-right: none;       
        width: 100%;
    }

    .GH-kart .GH-info-2 {
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        text-align: center;
    }

    .GH-kart .GH-info-2 div {
        padding: 0px;
    }

    .GH-kart .GH-btn-check {
        height: auto;
        width: 100%;
        border-top:none;
    }

    .GH-kart .GH-btn-check a{
        /* height: 22%; */
        /* line-height: 1; */
        font-size: 18px;
        padding: 10px 0px;
        margin-left: 8px;
        margin-top: 0px;
    }

    .GH-right a {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .GH-right .GH-kart .GH-info-2{
        width: 100%;
    }

    .GH-price{
        display: block;
    }

    .GH-quantity .GH-number{
        margin-top: 9px;
    }

}

@media screen and (max-width: 736px){
    .GH-note-2 .GH-btn-update-note {
        padding-left: 330px;
    }
}

@media screen and (max-width: 680px){
    .GH-content{
        flex-direction: column-reverse;
        
    }
    .GH-instruction, .GH-left, .GH-right, .GH-list-item, .GH-information, 
    .GH-note,.GH-note-2, .GH-capacity, .GH-price, .GH-quantity{

        width: 100%;
    }

    .GH-information, .GH-capacity, .GH-price, .GH-quantity{
        align-items: center;
        text-align: center;

    }

    .GH-information2 {
        flex-direction: column;
        width: 80%;
    }

    .GH-list-item-row {
        flex-direction: column;
    }

    .GH-list-item-row .GH-star-circle {
        top: 80px;
    }

    .GH-list-item-row .GH-information2 .GH-quantity{
        width: 100%;
        justify-content: center;
    }

    .GH-information2 .GH-quantity .GH-number {
        margin-top: 0px;
    }

    .GH-note {
        line-height: 0;
    }

    .GH-note-2 .GH-btn-update-note{
        display: flex;
        padding-left: 0px;
    }

    .GH-note-2 .GH-btn-update-note a{
        width: 95%;
    }

    .GH-kart .GH-btn-check {
        display: flex;
        height: auto;
        align-content: center;
    }

    .GH-kart .GH-btn-check a{
        height: 30%;
        margin-top: 21px;
        margin-left: 17px;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 440px) {
    .GH-content{
        flex-direction: column-reverse;
        
    }
    .GH-instruction, .GH-left, .GH-right, .GH-list-item, .GH-information, 
    .GH-note,.GH-note-2, .GH-capacity, .GH-price, .GH-quantity{

        width: 100%;
    }

    .GH-information, .GH-capacity, .GH-price, .GH-quantity{
        align-items: center;
        text-align: center;

    }

    .GH-information2 {
        flex-direction: column;
        width: 80%;
    }

    .GH-list-item-row {
        flex-direction: column;
    }

    .GH-list-item-row .GH-star-circle {
        top: 80px;
    }

    .GH-list-item-row .GH-information2 .GH-quantity {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .GH-note {
        line-height: 0;
        padding: 5px 10px 20px 15px;
        display: inline-block;
    }
    
    .GH-note i{
        color: #919aa3;
        line-height: 42px;
        padding: 0px 0px;
    }
    
    .GH-note a{
        text-decoration: none;
        color: #00b46e;
        line-height: 40px;
    
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .GH-note-2 .GH-btn-update-note{
        display: flex;
        padding-left: 0px;
    }

    .GH-note-2 .GH-btn-update-note a{
        width: 95%;
    }


    .GH-right .GH-kart .GH-info-2{
        width: 100%;
    }

    .GH-kart .GH-btn-check {
        display: flex;
        height: auto;
        align-content: center;
    }

    .GH-text-danger {
        padding: 5px 20px;
    }

    .GH-kart .GH-btn-check a{
        height: 30%;
        margin-top: 21px;
        margin-left: 17px;
        margin-bottom: 10px
    }

    .GH-quantity .GH-number{
        margin-top: 0px;
    }

    .GH-price{
        /* display: flex; */
    }

    .GH-price .GH-new-price, .GH-price .GH-old-price{
        /* width: 50%; */
    }

}

